@keyframes scan-line {
  0% {
    top: 0%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 100%;
  }
}


.yellowSlider .scan-line {
  animation: scan-line 2s infinite;
}

.yellowSlider .swiper-pagination {
  bottom: 0px !important;
}

/* Default bullet */
.yellowSlider .swiper-pagination-bullet {
  background-color: #cbd5e1; /* slate-300 */
  opacity: 1;
}

/* Active bullet */
.yellowSlider .swiper-pagination-bullet-active {
  background-color: var(--primary-color) !important;
}
