@import "tailwindcss";
@import "@fortawesome/fontawesome-free/css/all.min.css";

:root {
  --primary-color: #002e6d;
  --primary-color2: #f5bf11;
  --secondary-color: #1e1e1e;
}

body {
  scroll-behavior: smooth;
  font-family: "sora-regular", sans-serif;
}

.active-page {
  background-color: #d7f4fe;
  color: #002e6d;
  border-right-width: 4px;
  border-right-color: #002e6d;
  border-right-style: solid;
}

@font-face {
  font-family: "sora-regular";
  src: url("/assets/Fonts/sora/Sora-Regular.ttf");
}

@font-face {
  font-family: "sora-bold";
  src: url("/assets/Fonts/sora/Sora-Bold.ttf");
}

@font-face {
  font-family: "sora-semibold";
  src: url("/assets/Fonts/sora/Sora-SemiBold.ttf");
}
@font-face {
  font-family: "sora-medium";
  src: url("/assets/Fonts/sora/Sora-Medium.ttf");
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Restore list styles inside Jodit editor */
.jodit-wysiwyg ul {
  list-style-type: disc !important;
  padding-left: 40px !important;
}

.jodit-wysiwyg ol {
  list-style-type: decimal !important;
  padding-left: 40px !important;
}

.jodit-wysiwyg li {
  margin-bottom: 6px;
}

h1 {
  font-size: 30px !important;
}

@media (min-width: 600px) {
  h1 {
    font-size: 50px !important;
  }
}

@media print {
  body {
    background: white !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  /* Hide backdrop & close button */
  .no-print {
    display: none !important;
  }

  /* Remove modal behavior */
  .invoice-print-area {
    position: static !important;
    max-height: none !important;
    overflow: visible !important;
    box-shadow: none !important;
  }

  /* Force colors */
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
