.htmlText ul {
  list-style-type: disc !important;
  padding-left: 40px !important;
}

.htmlText ol {
  list-style-type: decimal !important;
  padding-left: 40px !important;
}

.htmlText li {
  margin-bottom: 6px;
}
